* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.webp binary
*.woff binary

# This tells Git that the file should be treated as a binary file and that line endings should not be converted.
src/assets/images/nftelite-tradables-logo-yellow.jpeg -text


