.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 1rem;
  opacity: 100% !important;
}

.experience-container > * {
  flex: 1;
}

// User Access Styling

#private-section {
  font-size: 20px;
  border: 8px solid #7B97DA;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

#private-section input {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  background: #FBFFE5;
  border-radius: 5px;
}

.private-text {
  font-size: 1.4rem;
  text-align: center;
}

#private-section button {

    padding: 2% 4%;
    border-radius: 5px;
    background: #7B97DA;
    color: #051D2A;
    font-weight: 700;

}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}


@media (max-width: 350px) {

  .experience-cards-div {
    display: block;
  }

}
