@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  width: 90%;
  margin: 2% auto 0 auto;
  padding-bottom: 1rem;
}
