@import "../../globalColor";

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
  }

  .display-name-form {
    display: flex;
    // background: $userAuthBackground;

    text-align: left;
    padding: 1% 2% 2% 3%;
    font-size: 1.6rem;
    font-weight: 550;
    line-height: 1.5;
    // border: 4px solid $lightBoxShadowDarker;

    position: relative;
    background-color: #E2E4EA;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;

  }

  .display-name-form:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.4);
    mix-blend-mode: overlay;
    filter: blur(20px);
    transform: rotate(45deg);
  }


  .display-name-form:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 100%);
    mix-blend-mode: overlay;
    z-index: -1;
  }



  .display-name-form .form-group {
    margin: 5%;
    width: 100%;
  }

  .display-name-form .form-group label[for="phone-number-input"] {
   width: 150%;
  }
  

  .display-name-form .form-group label {
    font-weight: 600;
  }

  .display-name-form input{
    font-size: 1.8rem;
    padding: 1%;
    position: absolute;
    right: 0;
    border: 1.4px solid $lightBoxShadowDarker;
  }

  .display-name-form #bio-input {
    position: absolute;
    right: 0;
    margin: 2% 6%;
    font-size: 1.15rem;
    padding: 2.8% 2%;
    text-align: left;
    text-align: -webkit-auto;
    border: 1.4px solid $lightBoxShadowDarker;
  }

  .form-actions {
    margin: 10% 0px 0px 0px;
  }
  
  .form-actions button {
    padding: .8% 3%;
    margin: 2%;
    background: $buttonProfileBackground;
    border: 0.15em solid $lightBoxShadowDark;
    color: $buttonProfileColor;
    font-weight: 500;
    letter-spacing: .6em;
    border-radius: 5px;
    font-weight: 550;
    font-family: fantasy;
    font-size: 1rem;
}
  
.form-actions button:focus, .form-actions button:hover {
    background: $buttonProfileHoverBackground;
    color: $spaceWhite;
}


.char-counter {
    margin: 5%;
}

@media (max-width: 600px) {

  .display-name-form .form-group label {
    display: block;
  }


}