@import "../../globalColor";

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
  }

  .display-name-form {
    display: flex;
    text-align: left;
    padding: 2% 4%;
    font-size: 1.6rem;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    background-color: #E2E4EA;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    // border-radius: 10px;
    overflow: hidden;
    border: 1px solid #555;
    box-shadow: inset 0px 0px 10px #555;
  }
  
  
  .display-name-form:hover {
  border-color: #999;
  }

  .display-name-form:focus-within {
    border-color: #00bfff;
    box-shadow: inset 0px 0px 10px #00bfff;
  }

  .display-name-form:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.4);
    mix-blend-mode: overlay;
    filter: blur(20px);
    transform: rotate(45deg);
  }


  .display-name-form:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 100%);
    mix-blend-mode: overlay;
    z-index: -1;
  }



  .display-name-form .form-group {
    margin: 5%;
    width: 100%;
  }

  .display-name-form .form-group label[for="phone-number-input"] {
   width: 150%;
  }
  

  .display-name-form .form-group label {
    font-weight: 600;
  }

  .display-name-form input{
    width: 50%;
    font-size: 1.8rem;
    padding: 1%;
    position: absolute;
    right: 0;
    border: 1.4px solid $lightBoxShadowDarker;
  }

  .display-name-form #bio-input {
    position: absolute;
    right: 0;
    margin: 2% 12.45%;
    font-size: 1.15rem;
    padding: .5% 0 .5% 2%;
    text-align: left;
    text-align: -webkit-auto;
    border: 1.4px solid $lightBoxShadowDarker;
    width: 420px;
    height: 100px;
  }

  .display-name-form #bio-input, .display-name-form input {
    border: 1px solid #555;
    box-shadow: inset 0px 0px 5px #555;
  }

  .display-name-form #bio-input:hover, .display-name-form input:hover {
    border-color: #999;
  } 

  .display-name-form #bio-input:focus, .display-name-form input:focus {
  border-color: #00bfff;
  box-shadow: inset 0px 0px 5px #00bfff;
  }

  .form-actions {
    margin: 10% 0px 0px 0px;
  }
  
  .form-actions button {
    padding: .8% 3%;
    margin: 2%;
    background: $buttonProfileBackground;
    border: 0.15em solid $lightBoxShadowDark;
    color: $buttonProfileColor;
    font-weight: 500;
    letter-spacing: .6em;
    border-radius: 5px;
    font-weight: 550;
    font-family: fantasy;
    font-size: 1rem;
}
  
.form-actions button:focus, .form-actions button:hover {
    background: $buttonProfileHoverBackground;
    color: $spaceWhite;
}


.char-counter {
    margin: 5%;
}

@media (max-width: 900px) {

  .display-name-form #bio-input {
    width: 325px;
    height: 90px;
  }
}

@media (max-with: 750px) {
  .display-name-form #bio-input {
    width: 280px;
    height: 85px;
  }
  
}

@media (max-width: 700px) {
  .display-name-form #bio-input {
  width: 250px;
  height: 80px;
  }
  .display-name-form .form-group {
    margin: 2% 0px 0px 30%;
  }
}

@media (max-width: 600px) {
  .display-name-form .form-group {
    margin: 2% 0px 0px 20%;
  }

  .display-name-form .form-group label {
    display: block;
    text-align: center;
  }

  .display-name-form input {
    width: 100%;
  }
  .display-name-form .form-group label[for=phone-number-input] {
    width: 100%;
  }
  .display-name-form #bio-input, .display-name-form input {
    text-align: center;
    height: 79px;
  }
  .display-name-form #bio-input {
    margin: 4% 28% 0 15%;
  }
  .char-counter {
    margin: 0 43% 15% 43%;
  }
  .form-actions {
    text-align: center;
  }

  .form-actions button[type=submit] {
    position: absolute;
    left: 0;
    bottom: 8px;
  }
  .form-actions button[type=submit] + button {
    position: absolute;
    right: 0;
    bottom: 8px;
  }

  .form-actions button {
    margin: 8% 0 3% 4%;
    padding: 2% 10%;
  }
}

@media (max-width: 500px) {

  .display-name-form .form-group {
    margin: 2% 0px 0px 8%;
  }
}

@media (max-width: 400px) {

  .display-name-form .form-group {
    margin: 2% 0px;
  }

  .form-actions button[type=submit], .form-actions button[type=submit] + button {
    position: relative;
  }

}